<div class="col-md-3"  style="margin-bottom: 50px;">
    <div class="card" style="background-color: rgb(185, 172, 53);">
      <div class="card-body">
        <h5 class="card-title" style="color: white; text-decoration: underline;">Dashboard</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#account-details" style="color: white;">
              <i class="fas fa-user" style="color: white;"></i> Account Details
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/address" style="color: white;">
              <i class="fas fa-address-card" style="color: white;"></i> Address
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#coupons" style="color: white;">
              <i class="fas fa-ticket-alt" style="color: white;"></i> Coupons
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/order/history" style="color: white;">
              <i class="fas fa-box" style="color: white;"></i> Order History
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart" style="color: white;">
              <i class="fas fa-shopping-cart" style="color: white;"></i> Shopping Cart
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#track-order" style="color: white;">
              <i class="fas fa-truck" style="color: white;"></i> Track Order
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#wallet" style="color: white;">
              <i class="fas fa-wallet" style="color: white;"></i> Wallet
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#wishlist" style="color: white;">
              <i class="fas fa-heart" style="color: white;"></i> Wish List
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#logout" style="color: white;">
              <i class="fas fa-sign-out-alt" style="color: white;"></i> Log-out
            </a>
          </li>
        </ul>
      </div>
    </div>
</div>
