<form id="changePasswordForm">
    <label for="oldPassword">Old Password:</label>
    <input type="password" id="oldPassword" name="oldPassword" required />
  
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" required />
  
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required />
  
    <button type="submit">Change Password</button>
  </form>

  <script>

    document.getElementById('changePasswordForm').addEventListener('submit', async(event)=>{
        event.preventDefault()
        const oldPassword = document.getElementById("oldPassword").value;
        const newPassword = document.getElementById("newPassword").value;
        const confirmPassword = document.getElementById("confirmPassword").value;


        if (newPassword !== confirmPassword) {
      alert("New password and confirmation do not match.");
      return;
    }

    try {
        const response = await fetch("/user/changePassword", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ oldPassword, newPassword }),
      });

      if (response.ok) {
        alert("Password changed successfully");
        window.location.href = "/userProfile";
      } else {
        const errorText = await response.text();
        alert(`Error: ${errorText}`);
      }
    } catch (error) {
        console.error("Error:", error);
      alert("An error occurred");
    }

    })
  </script>
