function cancelItem(orderId, itemId, button) {
    fetch(`/order/cancel/${orderId}/${itemId}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'Accept': 'application/json',
      },
    })
    .then(response => response.json())
    .then(data => {
      if (data.message === "Item cancelled successfully") {
        button.textContent = "Cancelled";
        button.disabled = true;
      } else {
        alert(data.message);
      }
    })
    .catch(error => {
      console.error('Error:', error);
    });
  }

  function returnItem(orderId,itemId,button){
    fetch(`/order/return/${orderId}/${itemId}`,{
      method:"POST",
      headers: {
        'Content-Type': 'application/json',
        'Accept': 'application/json',
      },
    })
    .then(response => response.json())
    .then(data =>{
      if(data.message === 'item return requested successfully'){
        button.textContent = 'Return requested';
        button.disabled = true
      }else{
        alert(data.message)
      }
    })
    .catch.catch(error => {
      console.error('Error:', error);
    });
  }

